/out/

.mtj.tmp/
src/META-INF
maracuja.db

*.jar
*.war
*.ear

hs_err_pid*

.classpath
.project
.settings/

.idea/
*.iml
*.iws

.DS_Store

log/
target/

!lib/**

*.class
bin/
build/
/bin1/
java/build/**