#btnSair {
    -fx-background-color: #FFB300;
    -fx-text-fill: #fff;
    -fx-background-radius: 0 0 0 10;
}

#btnSair:hover {
    -fx-background-color: #F83600;
    -fx-background-radius: 0 0 0 10;
}

.btnForm {
    -fx-background-color: #FFB300;
    -fx-text-fill: #fff;
    -fx-background-radius: 10px;
}

.btnForm:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-text-fill: #FFB300;
    -fx-border-color: #FFB300;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}